<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.croakzh.webfront.mapper.LogMapper">

    <sql id="selectSQL">
		id, detail, serverid, applicationid
	</sql>

    <sql id="whereSQL">
        where 1=1
        <if test="id != null ">
            <![CDATA[
				and a.id = #{id}
			]]>
        </if>
        <if test="detail != null ">
            <![CDATA[
				and a.detail = #{detail}
			]]>
        </if>
        <if test="serverid != null ">
            <![CDATA[
				and a.serverid = #{serverid}
			]]>
        </if>
        <if test="applicationid != null ">
            <![CDATA[
				and a.applicationid = #{applicationid}
			]]>
        </if>
    </sql>

    <select id="countLogs" resultType="Integer" parameterType="LogPo">
        select count(*) from mt_log a
        <include refid="whereSQL">
        </include>
        <if test="term != null and '' != term">
            <![CDATA[
				and (a.detail like concat(concat('%', #{term}),'%')
			]]>
        </if>
    </select>

    <select id="findAllLogs" resultType="LogPo" parameterType="LogPo">
        select
        <include refid="selectSQL"/>
        from mt_log a
    </select>

    <select id="findLogsByPage" resultType="LogPo" parameterType="LogPo">
        select
        <include refid="selectSQL"/>
        from mt_log a
        <include refid="whereSQL"/>
        <if test="term != null and '' != term">
            <![CDATA[
				and (a.detail like concat(concat('%', #{term}),'%')
			]]>
        </if>
        <choose>
            <when test="sortord != null and '' != sortord">
                order by a.${sortord}
            </when>
            <otherwise>
                order by a.id desc
            </otherwise>
        </choose>
        <if test="pagestart != null and pagesize != null">
            limit #{pagestart}, #{pagesize}
        </if>
    </select>

    <select id="getLog" resultType="LogPo" parameterType="Integer">
        select
        <include refid="selectSQL"/>
        from mt_log a
        where a.id = #{id}
    </select>

    <insert id="addLog" parameterType="LogPo">
        insert into mt_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="detail != null ">detail,</if>
            <if test="serverid != null ">serverid,</if>
            <if test="applicationid != null ">applicationid,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id,jdbcType=INTEGER},</if>
            <if test="detail != null ">#{detail,jdbcType=VARCHAR},</if>
            <if test="serverid != null ">#{serverid,jdbcType=INTEGER},</if>
            <if test="applicationid != null ">#{applicationid,jdbcType=INTEGER},</if>
        </trim>
        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateLog" parameterType="LogPo">
        update mt_log
        <trim prefix="set" suffixOverrides="," suffix=" where id = #{id} ">
            <if test="id != null">
                <![CDATA[
					id = #{id,jdbcType=INTEGER},
				]]>
            </if>
            <if test="detail != null">
                <![CDATA[
					detail = #{detail,jdbcType=VARCHAR},
				]]>
            </if>
            <if test="serverid != null">
                <![CDATA[
					serverid = #{serverid,jdbcType=INTEGER},
				]]>
            </if>
            <if test="applicationid != null">
                <![CDATA[
					applicationid = #{applicationid,jdbcType=INTEGER},
				]]>
            </if>
        </trim>
    </update>

    <delete id="deleteLog" parameterType="Integer">
		delete from mt_log
		where id= #{id}
	</delete>

</mapper>
