<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.croakzh.webfront.mapper.UsersMapper">

    <sql id="selectSQL">
		userid, loginname, password, status, logintime, loginip, logins, adduser, addtime, updateuser, updatetime

	</sql>

    <sql id="whereSQL">
        where 1=1
        <if test="userid != null ">
            <![CDATA[
				and a.userid = #{userid}
			]]>
        </if>
        <if test="loginname != null ">
            <![CDATA[
				and a.loginname = #{loginname}
			]]>
        </if>
        <if test="password != null ">
            <![CDATA[
				and a.password = #{password}
			]]>
        </if>
        <if test="status != null ">
            <![CDATA[
				and a.status = #{status}
			]]>
        </if>
        <if test="logintime != null ">
            <![CDATA[
				and a.logintime = #{logintime}
			]]>
        </if>
        <if test="loginip != null ">
            <![CDATA[
				and a.loginip = #{loginip}
			]]>
        </if>
        <if test="logins != null ">
            <![CDATA[
				and a.logins = #{logins}
			]]>
        </if>
        <if test="adduser != null ">
            <![CDATA[
				and a.adduser = #{adduser}
			]]>
        </if>
        <if test="addtime != null ">
            <![CDATA[
				and a.addtime = #{addtime}
			]]>
        </if>
        <if test="updateuser != null ">
            <![CDATA[
				and a.updateuser = #{updateuser}
			]]>
        </if>
        <if test="updatetime != null ">
            <![CDATA[
				and a.updatetime = #{updatetime}
			]]>
        </if>
    </sql>

    <select id="countUserss" resultType="Integer" parameterType="UsersPo">
        select count(*) from mt_users a
        <include refid="whereSQL">
        </include>
        <if test="term != null and '' != term">
            <![CDATA[
              and a.loginname = #{loginname}
			]]>
        </if>
    </select>

    <select id="findAllUserss" resultType="UsersPo" parameterType="UsersPo">
        select
        <include refid="selectSQL"/>
        from mt_users a
    </select>

    <select id="findUserssByPage" resultType="UsersPo" parameterType="UsersPo">
        select
        <include refid="selectSQL"/>
        from mt_users a
        <include refid="whereSQL"/>
        <if test="term != null and '' != term">
            <![CDATA[
              and a.loginname = #{loginname}
			]]>
        </if>
        <choose>
            <when test="sortord != null and '' != sortord">
                order by a.${sortord}
            </when>
            <otherwise>
                order by a.userid desc
            </otherwise>
        </choose>
        <if test="pagestart != null and pagesize != null">
            limit #{pagestart}, #{pagesize}
        </if>
    </select>

    <select id="getUsers" resultType="UsersPo" parameterType="Integer">
        select
        <include refid="selectSQL"/>
        from mt_users a
        where a.userid = #{userid}
    </select>

    <insert id="addUsers" parameterType="UsersPo">
        insert into mt_users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userid != null ">userid,</if>
            <if test="loginname != null ">loginname,</if>
            <if test="password != null ">password,</if>
            <if test="status != null ">status,</if>
            <if test="logintime != null ">logintime,</if>
            <if test="loginip != null ">loginip,</if>
            <if test="logins != null ">logins,</if>
            <if test="adduser != null ">adduser,</if>
            <if test="addtime != null ">addtime,</if>
            <if test="updateuser != null ">updateuser,</if>
            <if test="updatetime != null ">updatetime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userid != null ">#{userid,jdbcType=INTEGER},</if>
            <if test="loginname != null ">#{loginname,jdbcType=VARCHAR},</if>
            <if test="password != null ">#{password,jdbcType=VARCHAR},</if>
            <if test="status != null ">#{status,jdbcType=TINYINT},</if>
            <if test="logintime != null ">#{logintime,jdbcType=VARCHAR},</if>
            <if test="loginip != null ">#{loginip,jdbcType=VARCHAR},</if>
            <if test="logins != null ">#{logins,jdbcType=TINYINT},</if>
            <if test="adduser != null ">#{adduser,jdbcType=INTEGER},</if>
            <if test="addtime != null ">#{addtime,jdbcType=VARCHAR},</if>
            <if test="updateuser != null ">#{updateuser,jdbcType=INTEGER},</if>
            <if test="updatetime != null ">#{updatetime,jdbcType=VARCHAR},</if>
        </trim>
        <selectKey keyProperty="userid" resultType="Integer" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateUsers" parameterType="UsersPo">
        update mt_users
        <trim prefix="set" suffixOverrides="," suffix=" where userid = #{userid} ">
            <if test="userid != null">
                <![CDATA[
					userid = #{userid,jdbcType=INTEGER},
				]]>
            </if>
            <if test="loginname != null">
                <![CDATA[
					loginname = #{loginname,jdbcType=VARCHAR},
				]]>
            </if>
            <if test="password != null">
                <![CDATA[
					password = #{password,jdbcType=VARCHAR},
				]]>
            </if>
            <if test="status != null">
                <![CDATA[
					status = #{status,jdbcType=TINYINT},
				]]>
            </if>
            <if test="logintime != null">
                <![CDATA[
					logintime = #{logintime,jdbcType=VARCHAR},
				]]>
            </if>
            <if test="loginip != null">
                <![CDATA[
					loginip = #{loginip,jdbcType=VARCHAR},
				]]>
            </if>
            <if test="logins != null">
                <![CDATA[
					logins = #{logins,jdbcType=TINYINT},
				]]>
            </if>
            <if test="adduser != null">
                <![CDATA[
					adduser = #{adduser,jdbcType=INTEGER},
				]]>
            </if>
            <if test="addtime != null">
                <![CDATA[
					addtime = #{addtime,jdbcType=VARCHAR},
				]]>
            </if>
            <if test="updateuser != null">
                <![CDATA[
					updateuser = #{updateuser,jdbcType=INTEGER},
				]]>
            </if>
            <if test="updatetime != null">
                <![CDATA[
					updatetime = #{updatetime,jdbcType=VARCHAR},
				]]>
            </if>
        </trim>
    </update>

    <delete id="deleteUsers" parameterType="Integer">
		delete from mt_users
		where userid= #{userid}
	</delete>

</mapper>
